<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jeffTodo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D8A99661DCA2A2800B2434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D8A997D1DCA2A2A00B2434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D8A99881DCA2A2B00B2434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
